<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>terraform-applier</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <script src="static/js/main.js"></script>
    <link rel="stylesheet" href="static/stylesheets/main.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <style>
        .list-group {
            --bs-list-group-active-color: #550091;
            --bs-list-group-active-bg: #f5f0f8;
            --bs-list-group-active-border-color: #f5f0f8;
        }
    </style>
</head>

<body onload="init();">
    <h1 class="text-center">Terraform Applier</h1>

    {{ if . }}
    <div class="row">
        <div class="col-md-4"></div>
        <div id="force-alert-container" class="col-md-4"></div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="row g-0">

                <div class="col-md-2 border-end">
                    <div class="card-header">
                        <a href="#" class="d-flex justify-content-center p-1 link-body-emphasis text-decoration-none">
                            <span class="fs-5 fw-semibold text-dark">Namespaces</span>
                        </a>
                    </div>
                    <div id="namespace-list" class="list-group list-group-flush overflow-auto"
                        style="max-height: 90vh;">
                        {{range $k, $v := . }}
                        <a href="#{{$k}}" id="{{$k}}-list" data-filter="{{$k}}"
                            class=" list-group-item list-group-item-action py-3 lh-sm">
                            <div class="d-flex align-items-center justify-content-between">
                                <h4 class="mb-1">{{$k}}</h4>
                                <small>{{len $v.Modules}}</small>
                            </div>
                        </a>
                        {{end}}
                    </div>
                </div>

                <div class="col-md-3 border-end">
                    <div class="card-header">
                        <a href="#" class="d-flex justify-content-center p-1 link-body-emphasis text-decoration-none">
                            <span class="fs-5 fw-semibold text-dark">Modules</span>
                        </a>
                    </div>
                    <div id="module-list" class="list-group list-group-flush overflow-auto" style="max-height: 90vh;">
                        {{range $k, $v := . }}
                        {{ range $i, $m := $v.Modules }}
                        <a href="#{{ sanitizedUniqueName .}}" id="{{ sanitizedUniqueName .}}-list" data-filter="{{$k}}"
                            class="list-group-item list-group-item-action py-3 lh-sm d-none">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-1">{{$m.Name}}</h5>
                                <div class="d-flex flex-column align-items-end">
                                    {{ if .IsPlanOnly}}
                                    <h6><span class='badge rounded-pill text-bg-secondary'>plan only</span></h6>
                                    {{end}}
                                    <h6>
                                        <span {{if or (eq .Status.StateReason "PlanedDriftDetected" ) (eq
                                            .Status.StateReason "Applied" ) }} class='badge rounded-pill bg-primary'
                                            {{else if eq .Status.CurrentState "Errored" }}
                                            class='badge rounded-pill bg-danger' {{else}}
                                            class='badge rounded-pill bg-light text-dark' {{end}}>
                                            {{$m.Status.CurrentState}} ({{$m.Status.StateReason}})
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </a>
                        {{end}}
                        {{end}}
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="card-header">
                        <a href="#" class="d-flex justify-content-center p-1 link-body-emphasis text-decoration-none">
                            <span class="fs-5 fw-semibold text-dark">Module Info</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div id="module-info-list" class="scrollarea">
                            {{range $k, $v := . }}
                            {{ range $i, $m := $v.Modules }}
                            {{template "module" $m}}
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{ else }}
    <h3 class="text-center">Waiting for information about the first run...</h3>
    <h4 class="text-center">Refresh for updates and check the status and logs for the terraform-applier container to
        make
        sure it is running properly.</h4>
    {{ end }}
</body>

</html>

<!-- modules -->
{{define "module"}}
<div id="{{sanitizedUniqueName .}}" class="d-none">
    <div class='card {{if eq .Status.CurrentState "Running"}}border-info{{end}}'>
        <div class="card-header bg-transparent">
            <div href="#{{ sanitizedUniqueName .}}-info">
                <div class="d-flex justify-content-between align-items-center mb-1">
                    <h3 class="fw-bold" style="color: #550091;">{{.Name}}
                        {{ if .IsPlanOnly}}
                        <span class='badge rounded-pill text-bg-secondary'>plan only</span>
                        {{end}}
                    </h3>
                    <div>
                        <button data-namespace="{{ .Namespace }}" data-name="{{ .Name }}" data-plan-only="true"
                            class="force-button force-module-button btn btn-info btn-s">
                            <strong>Force Plan</strong>
                        </button>
                        <button data-namespace="{{ .Namespace }}" data-name="{{ .Name }}" data-plan-only="false"
                            class="force-button force-module-button btn btn-warning btn-s">
                            <strong>Force Apply</strong>
                        </button>
                    </div>
                </div>

                <dl>
                    <div class="row">
                        <div class="col-6">
                            <dt>Status</dt>
                            <dd class="fw-semibold">
                                <span {{if or (eq .Status.StateReason "PlanedDriftDetected" ) (eq
                                    .Status.StateReason "Applied" ) }} class='text-primary' {{else if eq
                                    .Status.CurrentState "Errored" }} class='text-danger' {{end}}>
                                    {{.Status.CurrentState}} ({{.Status.StateReason}})
                                </span>
                            </dd>
                        </div>
                        {{if .Spec.Schedule}}
                        <div class="col-6">
                            <dt>Schedule</dt>
                            <dd>{{ .Spec.Schedule }}</dd>
                        </div>
                        {{end}}

                        <div class="w-100 d-none d-md-block"></div>

                        <div class="col-6">
                            <dt>Repo</dt>
                            <dd>
                                <a href="{{ commitURL .Spec.RepoURL `` }}">
                                    {{.Spec.RepoURL }}</a>
                            </dd>
                        </div>
                        <div class="col-2">
                            <dt>Ref</dt>
                            <dd>{{.Spec.RepoRef}}</dd>
                        </div>
                        <div class="col-4">
                            <dt>Path</dt>
                            <dd><a href="{{commitURL .Spec.RepoURL ``}}/tree/{{.Spec.RepoRef}}/{{ .Spec.Path }}">
                                    {{ .Spec.Path }}</a>
                            </dd>
                        </div>
                        <div class="w-100 d-none d-md-block"></div>
                        <div class="col-12">
                            <dt>Message</dt>
                            <dd>{{.Status.StateMessage}}</dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
        <div id="{{sanitizedUniqueName .}}-info">
            <div class="card-body">
                <div>
                    <dl>
                        <div class="row">
                            <div class="col-6">
                                <dt>Last run type</dt>
                                <dd>{{ .Status.RunType }}</dd>
                            </div>
                            <div class="col-6">
                                <dt>Last run started at</dt>
                                <dd>{{ formattedTime .Status.RunStartedAt }}
                                    (took {{ duration
                                    .Status.RunDuration }})
                                </dd>
                            </div>
                            <div class="col-6">
                                <dt>Last run commit hash</dt>
                                <dd><a href="{{ commitURL .Status.RemoteURL .Status.RunCommitHash}}">
                                        {{.Status.RunCommitHash}}</a>
                                </dd>
                            </div>
                            <div class="col-6">
                                <dt>Last run commit message</dt>
                                <dd> {{.Status.RunCommitMsg}}</dd>
                            </div>
                            <div class="col-6">
                                <dt>Last applied commit hash</dt>
                                <dd><a href="{{ commitURL .Status.RemoteURL .Status.LastApplyInfo.CommitHash}}">
                                        {{.Status.LastApplyInfo.CommitHash}}
                                    </a>
                                </dd>
                            </div>
                            <div class="col-6">
                                <dt>Last applied at</dt>
                                <dd>{{ formattedTime .Status.LastApplyInfo.Timestamp }}</dd>
                            </div>
                        </div>
                    </dl>
                </div>
                <div>
                    <nav>
                        <div class="nav nav-tabs" role="tablist">
                            <a class="nav-link active" href="#{{sanitizedUniqueName .}}-nav-plan" data-bs-toggle="tab"
                                role="tab">Last Run Output
                            </a>
                            <a class="nav-link" href="#{{sanitizedUniqueName .}}-nav-apply" data-bs-toggle="tab"
                                role="tab">Last Apply Output
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="{{sanitizedUniqueName .}}-nav-plan" role="tabpanel">
                            <pre class="file-output font-monospace p-3"
                                style="max-height: 40em; background-color: #f5f5f5;">
                                <small>{{.Status.RunOutput}}</small>
                            </pre>
                        </div>
                        <div class="tab-pane fade" id="{{sanitizedUniqueName .}}-nav-apply" role="tabpanel">
                            <pre class="file-output font-monospace p-3"
                                style="max-height: 40em; background-color: #f5f5f5;">
<!-- to remove left margin on first line -->
<small>{{.Status.LastApplyInfo.Output}}</small>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}