apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    control-plane: terraform-applier
  name: terraform-applier
spec:
  replicas: 1
  serviceName: terraform-applier
  selector:
    matchLabels:
      control-plane: terraform-applier
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: tf-applier
      labels:
        control-plane: terraform-applier
    spec:
      securityContext:
        # This GID is added to each container to share folder and
        # read mounted secrets
        fsGroup: 101
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: terraform-applier
      terminationGracePeriodSeconds: 300
      containers:
        - name: tf-applier
          command:
            - /tf-applier
          env:
            - name: TERMINATION_GRACE_PERIOD
              value: "240"
            - name: REDIS_URL
              value: terraform-applier-redis:6379
          image: quay.io/utilitywarehouse/terraform-applier:v2.5.3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8082
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8082
            initialDelaySeconds: 5
            periodSeconds: 10
          # initial repo clone might take some time
          startupProbe:
            httpGet:
              path: /readyz
              port: 8082
            failureThreshold: 30
            periodSeconds: 10
          resources:
            limits:
              cpu: 2000m
              memory: 2Gi
              ephemeral-storage: 256Mi
            requests:
              cpu: 0m
              memory: 128Mi
              ephemeral-storage: 32Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - mountPath: /tmp
              name: tmp
  volumeClaimTemplates:
    - metadata:
        name: tmp
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 20Gi
